

.imageList {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Adjust the gap as needed */
}

.imageList img {
    width: 250px; /* Set the width as needed */
    margin-bottom: 10px;
}

.app{
    position: relative;
    display:flex;
    margin: 10px;

}